{% extends "layout.html" %}

{% block content %}
<section class="section">
    <div class="container has-text-centered">
        <p>
        <h1 class="title">Current Games</h1>
        {{ render_partial('partials/current_games_table.html', current_games=current_games) }}
        </p>
    </div>
</section>
{% if completed_games %}
<section class="section">
    <div class="container has-text-centered">
        <p>
        <h1 class="title">Completed Games</h1>
        {{ render_partial('partials/completed_games_table.html', completed_games=completed_games) }}
        </p>
    </div>
</section>
{% endif %}
{% endblock %}