<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eric's Civ VI Webhook for PBC and PYDT</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<section class="hero is-primary">
    <div class="hero-body">
        <p class="title">
            Eric's Civ VI Webhook Server
        </p>
        <p class="subtitle">
            For Play By Cloud and Play Your Damn Turn
        </p>
    </div>
</section>

{% block content %}
{% endblock %}

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong><a href="https://github.com/djotaku/Civilization_VI_Play_By_Cloud_Webhook_with_FastAPI">
                Civilization_VI_Play_By_Cloud_Webhook_with_FastAPI</a></strong> by
            <a href="https://www.ericsbinaryworld.com">Eric Mesa</a>. The source code is licensed
            <a href="https://github.com/djotaku/Civilization_VI_Play_By_Cloud_Webhook_with_FastAPI/blob/main/LICENSE">GPL.</a>.
        </p>
    </div>
</footer>
</body>
</html>