<table class="table is-striped sortable" hx-get="/completed_games_table" hx-trigger="every 15s ">
    <thead>
    <tr>
        <th>Game</th>
        <th>Final Player</th>
        <th>Final Turn Number</th>
        <th>Final Turn Date/Time</th>
        <th>Average Turn Time</th>
        <th>Winner</th>
    </tr>
    </thead>
    <tbody>
    {% for game in completed_games %}
        <tr>
            <td>{{ game }}</td>
            <td>{{ completed_games[game]['player_name'] }}</td>
            <td>{{ completed_games[game]['turn_number'] }}</td>
            <td>{{ completed_games[game]['time_stamp']['month'] }}-
                {{ completed_games[game]['time_stamp']['day'] }}-
                {{ completed_games[game]['time_stamp']['year'] }}
                {{ completed_games[game]['time_stamp']['hour'] }}:
                {{ completed_games[game]['time_stamp']['minute'] }}</td>
            <td>{{ completed_games[game].get('average_turn_time') }}</td>
            {% if completed_games[game].get('winner') %}
                <td>{{ completed_games[game].get('winner') }}</td>
            {% else %}
                <td>
                <form hx-put="/set_winner?game={{ game }}" hx-swap="none">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <div class="select is-fullwidth">
                                <select name="Winner" id="Winner">
                                    {% for winner in potential_winners %}
                                        <option value="{{ winner }}">{{ winner }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-primary" name="winner_button" >Choose</button>
                        </div>
                    </div>
                </form>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>