<table class="table is-striped sortable" id="current_table">
    <thead>
    <tr>
        <th>Game</th>
        <th>Next Player</th>
        <th>Turn Number</th>
        <th>Last Turn Date/Time</th>
        <th>Average Turn Time</th>
        <th>Mark as Completed?</th>
    </tr>
    </thead>
    <tbody>
    {% for game in current_games %}
        <tr>
            <td>{{ game.get('game_name') }}</td>
            <td>{{ game.get('player_name') }}</td>
            <td>{{ game.get('turn_number') }}</td>
            <td>{{ game.get('time_stamp').get('month') }}-
                {{ game.get('time_stamp').get('day') }}-
                {{ game.get('time_stamp').get('year') }}
                {{ game.get('time_stamp').get('hour') }}:
                {{ game.get('time_stamp').get('minute') }}</td>
            <td>{{ game.get('average_turn_time') }}</td>
            <td>
                <button class="button is-primary" hx-put="/both_tables?game_to_complete={{ game.get('game_name') }}" hx-trigger="click"
                        hx-target="#tables" hx-swap="outerHTML">Mark Completed
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
